* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: calibri;
}

img {
    width: 100%;
    height: auto;
}

:root {
    --main-color : #715450;
    --main-color-hover : #4e2f2c;
    --accent-color : #9ECACB;
    --bg-color: #FCF3E2;
}

.main-page{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 100px auto auto auto;
    text-align: justify;
    align-items: center;
    padding: 20px;
}

.main-page-img {
    width: 400px;
    
}

.main-buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    transition: linear 0.5s;
    color: white;
    

}

button:hover {
    background-color: var(--main-color-hover);
}


.chars-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.chars-page img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.chars-page section {
    display: flex;
    gap: 20px;
    text-align: justify;
}

.side-chars {
    display: flex;
    gap: 60px;
    padding: 0px 60px 0px 60px;
}

.side-chars-abt {display: flex;
flex-direction: column;
}

.char-gallery {
    display: grid;
    grid-template-columns: repeat(3, 180px);
}

.img-side-char {
    width: 180px;
    height: 180px;
    object-fit: cover;
    transition: 0.3s ease;
}

.img-side-char:hover {
    transform: scale(1.05);
}



.exit, .home {
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    z-index: 9999;
}

.controls {
    position: fixed;
    top: 10px;
    right: 10px;
    gap: 10px;
    z-index: 99999;
}


/* PAGE TRANSITIONS */

.contenedor {
    position: relative;
    min-height: 100vh;
}

/* all pages */
.main-page,
.chars-page,
.side-chars {

    position: absolute;
    inset: 0;

    opacity: 0;
    visibility: hidden;
    transform: scale(1.08);

    transition:
        opacity 0.45s ease,
        transform 0.45s ease,
        visibility 0.45s;
}

/* visible page */
.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    
}